Repository seekinginfiniteloop/PlainLicenses: changes, and which pre-commit hooks are due for each by the changed paths.
All: build, stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
        types: [yaml]
      - id: check-added-large-files
        stages: [pre-commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.14.0
    hooks:
      - id: markdownlint-cli2
        args: [--config, .markdownlint.yml, --fix, "*.md","docs/*.md", "docs/**/*.md", "packages/changelogs/*.md"]
        stages: [pre-commit]
        types: [markdown]
  - repo: https://github.com/crate-ci/typos
    rev: v1.27.0
    hooks:
      - id: typos
        stages: [pre-commit]
        exclude: |
          (?x)^(
            .eslintcache |
            eslint.config.mjs |
            .gitignore |
            .pre-commit-config.yaml |
            .markdownlint.yml |
            node_modules/|
            packages/.*?/node_modules|
            external/|
            eslint.config.mjs)
        types_or: [text]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix"]
        stages: [pre-commit]
        types: [python]
      - id: ruff-format
        stages: [pre-commit]
        types: [python]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        args: [--config, commitlint.config.ts]
  - repo: local
    hooks:
      - id: shellcheck
        language: system
        name: Shellcheck
        stages: [pre-commit]
        entry: shellcheck -x -S error
        types: [shell]
      - id: build
        name: Build
        language: system
        entry: bun run -b build
        files: src/.*?.ts
        types: [ts]
        stages: [pre-commit]

      - id: stylelint
        name: Stylelint
        language: system
        entry: bun run -b stylelint --fix
        files: src/assets/stylesheets/.*?.css
        types: [css]
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        language: system
        entry: bun run -b eslint --fix
        types: [ts, javascript]
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            .vscode/|
            external/|
            docs/)
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        language: system
        entry: bun run -b prettier --write
        types: [json, yaml, toml]
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            external/)
        stages: [pre-commit]

      - id: commitizen
        name: Commitizen
        language: system
        entry: bun run -b git-cz
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            external/)
        stages: [prepare-commit-msg]
        types: [file]
        always_run: true

refactored heroShuffle to class based state management
  .eslintcache
  docs/assets/javascripts/index.QHAVYOIH.js.map
  docs/assets/javascripts/index.RSVUY66L.js
  docs/assets/javascripts/index.RSVUY66L.js.map
  docs/assets/stylesheets/bundle.ONGN6BJ2.css.map
  docs/assets/stylesheets/bundle.PZS7F76U.css
  docs/assets/stylesheets/bundle.PZS7F76U.css.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
Due: build, stylelint

mid-correction on confining pan animation to visible region
  .eslintcache
  docs/assets/javascripts/index.O4UB5BFZ.js
  docs/assets/javascripts/index.O4UB5BFZ.js.map
  docs/assets/javascripts/index.RSVUY66L.js.map
  docs/assets/stylesheets/bundle.PZS7F76U.css.map
  docs/assets/stylesheets/bundle.U66QGU4F.css
  docs/assets/stylesheets/bundle.U66QGU4F.css.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/stylesheets/home.css
  src/build/config/index.ts
  src/build/config/types.d.ts
  src/build/index.ts
  src/build/types.d.ts
Due: build, stylelint

pretty much there; smaller animation quirks to work out, Hero State working well.
  .eslintcache
  bun.lockb
  docs/assets/javascripts/index.56E5W6X6.js
  docs/assets/javascripts/index.56E5W6X6.js.map
  docs/assets/javascripts/index.O4UB5BFZ.js.map
  docs/assets/stylesheets/bundle.U66QGU4F.css.map
  docs/assets/stylesheets/bundle.U76FRJ2K.css
  docs/assets/stylesheets/bundle.U76FRJ2K.css.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Due: build, stylelint

Update heroimages.css
  src/assets/stylesheets/heroimages.css
Due: stylelint

Update index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
Due: build

animation debugging; refining text
  .eslintcache
  docs/assets/javascripts/index.6INGU5MO.js.map
  docs/assets/javascripts/index.P4PVDA3E.js
  docs/assets/javascripts/index.P4PVDA3E.js.map
  docs/assets/stylesheets/bundle.HDSB5ACS.css.map
  docs/assets/stylesheets/bundle.P72S7LTR.css
  docs/assets/stylesheets/bundle.P72S7LTR.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/partials/herolanding.html
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/impactText/index.ts
  src/assets/javascripts/index.ts
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Due: build, stylelint

Added input checks and validation
  src/assets/javascripts/utils/vectorcalc/index.ts
Due: build

Update index.ts
  src/assets/javascripts/utils/index.ts
Due: build

reimagined text intro
  src/assets/javascripts/hero/impactText/index.ts
Due: build

Update index.ts
  src/assets/javascripts/hero/impactText/index.ts
Due: build

new approach to state mgmt
  src/assets/javascripts/cache.ts
  src/assets/javascripts/conditionChecks.ts
  src/assets/javascripts/eventHandlers.ts
  src/assets/javascripts/features/hero/animations/animationFlags.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/imageCarousel/types.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/features/licenses/types.ts
  src/assets/javascripts/hero.ts
  src/assets/javascripts/imageLoader.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses.ts
  src/assets/javascripts/types.ts
Due: build

Update index.ts
  src/assets/javascripts/features/hero/imageCarousel/index.ts
Due: build

Update store.ts
  src/assets/javascripts/features/hero/state/store.ts
Due: build

reimagined state handling; greatly simplified
  .devcontainer/devcontainer.json
  src/assets/javascripts/conditionChecks.ts
  src/assets/javascripts/eventHandlers.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/state/predicates.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/assets/javascripts/globals.d.ts
Due: build

state and animation refactorying
  src/assets/javascripts/features/hero/animations/animationFlags.ts
  src/assets/javascripts/features/hero/animations/animationManager.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/heroImages.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/imageCarousel/types.ts
  src/assets/javascripts/features/hero/state/predicates.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/build/config/index.ts
  src/build/index.ts
Due: build

animation work
  overrides/partials/herolanding.html
  src/assets/javascripts/config/index.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/animationManager.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/index.ts
Due: build

teextAnimation updates
  src/assets/javascripts/config/index.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
Due: build

Major refactor continues, primary work here is an overhaul of impact animations with a focus on performance, realism, and even chains
  src/assets/javascripts/config/index.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/animationManager.ts
  src/assets/javascripts/features/hero/animations/impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/easterEgg/index.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/imageCarousel/types.ts
  src/assets/javascripts/features/hero/state/index.ts
  src/assets/javascripts/features/hero/state/predicates.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/assets/javascripts/features/licenses/index.ts
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/features/licenses/types.ts
  src/assets/javascripts/feedback.ts
  src/assets/javascripts/hero.ts
  src/assets/javascripts/heroScroll.ts
  src/assets/javascripts/impactText.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/log.ts
  src/assets/javascripts/tablesort.d.ts
  src/assets/javascripts/utilities/cache.ts
  src/assets/javascripts/utilities/conditionChecks.ts
  src/assets/javascripts/utilities/eventHandlers.ts
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
  src/build/_/index.ts
  src/build/config/_/index.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.d.ts
Due: build, stylelint

refactoring scrollTo and scrollTrigger into an observer animation
  .devcontainer/devcontainer.json
  overrides/partials/herolanding.html
  src/assets/javascripts/config/index.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/animationManager.ts
  src/assets/javascripts/features/hero/animations/impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/state/predicates.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/heroScroll.ts
Due: build

observer integration continues
  .devcontainer/container-setup.sh
  .devcontainer/devcontainer.json
  bun.lockb
  differing-files.txt
  node_modules/@eslint/js/package.json
  node_modules/minipass/README.md
  node_modules/minipass/package.json
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/observerEffects.ts
  src/assets/javascripts/features/hero/animations/utils.ts
Due: build

some more fun with text animation
  .linthtmlrc.yaml
  differing-files.txt
  overrides/partials/herolanding.html
  src/assets/javascripts/features/hero/animations/impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/observerEffects.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/stylesheets/colors.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Due: build, stylelint

Update impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactEffects.ts
Due: build

Update impactText.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
Due: build

Update utils.ts
  src/assets/javascripts/features/hero/animations/utils.ts
Due: build

updated documentation
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/config/index.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/feedback/feedback.ts
  src/assets/javascripts/features/feedback/index.ts
  src/assets/javascripts/features/hero/animations/impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/observerEffects.ts
  src/assets/javascripts/features/hero/animations/scrollTo.ts
  src/assets/javascripts/features/hero/animations/scrollTriggers.ts
  src/assets/javascripts/features/hero/animations/transforms.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/easterEgg/index.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/index.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/imageCarousel/types.ts
  src/assets/javascripts/features/hero/state/predicates.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/assets/javascripts/features/licenses/index.ts
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/features/licenses/types.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero.ts
  src/assets/javascripts/heroScroll.ts
  src/assets/javascripts/impactText.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/cache.ts
  src/assets/javascripts/utils/conditionChecks.ts
  src/assets/javascripts/utils/eventHandlers.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.d.ts
Due: build

moving to simplify everything by using a video instead of carousel + animations. A lot will go in this spring cleaning.
  overrides/partials/easter.html
  overrides/partials/herolanding.html
  overrides/partials/license_disclaimer_block.html
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/feedback/feedback.ts
  src/assets/javascripts/features/hero/animations/animationManager.ts
  src/assets/javascripts/features/hero/animations/impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/panning.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/easterEgg/index.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/state/predicates.ts
  src/assets/javascripts/features/hero/state/store.ts
  src/assets/javascripts/features/hero/state/types.ts
  src/assets/javascripts/features/licenses/index.ts
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/features/licenses/types.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero.ts
  src/assets/javascripts/heroScroll.ts
  src/assets/javascripts/imageAnimationManager.ts
  src/assets/javascripts/imageCycler.ts
  src/assets/javascripts/imageLoader.ts
  src/assets/javascripts/imageTransformCalculator.ts
  src/assets/javascripts/impactText.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/transformUtils.ts
  src/assets/javascripts/utils/cache.ts
  src/assets/javascripts/utils/conditionChecks.ts
  src/assets/javascripts/utils/eventHandlers.ts
  src/assets/javascripts/utils/log.ts
  src/assets/javascripts/vectorcalc.ts
  src/assets/stylesheets/colors.css
Due: build, stylelint

added script for processing hero videos
  bin/video_encoder.sh
Due: none

simplifying codebase for hero video, ditching complex animations and carousels
  .devcontainer/devcontainer.json
  bin/video_encoder.sh
  docs/licenses/permissive/mit/index.md
  docs/licenses/source-available/elastic-2.0/index.md
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/video/index.ts
  src/assets/javascripts/features/hero/video/video.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/state/index.ts
  src/assets/javascripts/state/predicates.ts
  src/assets/javascripts/state/store.ts
  src/assets/javascripts/state/types.ts
  src/assets/javascripts/utils/cache.ts
  src/assets/javascripts/utils/eventHandlers.ts
  src/assets/javascripts/utils/helpers.ts
  src/assets/javascripts/workers/cache_worker.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.d.ts
  tsconfig.json
Due: build

added dependabot combine-prs
  .github/workflows/combine-prs.yml
  .github/workflows/fundingupdate.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

continued refactor for replacing most animations with the hero video component
  bin/__init__.py
  bin/grab_stills.py
  bin/hero_to_json.py
  bin/image_conversion.py
  bin/video_encoder.sh
  docs/licenses/copyleft/mpl-2.0/index.md
  docs/licenses/source-available/elastic-2.0/index.md
  overrides/partials/copyright.html
  overrides/partials/hero_tabs.html
  overrides/partials/heroheader.html
  overrides/partials/herolanding.html
  overrides/partials/license_disclaimer_block.html
  overrides/partials/license_tags.html
  overrides/partials/license_toc.html
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/impactEffects.ts
  src/assets/javascripts/features/hero/animations/impactText.ts
  src/assets/javascripts/features/hero/animations/observer..ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/observerEffects.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/utils/helpers.ts
  src/assets/javascripts/workers/cache_worker.ts
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
  src/assets/stylesheets/license.css
  src/build/config/index.ts
  src/build/types.ts
Due: build, stylelint

more observer refactoring
  .devcontainer/.zshrc
  bin/video_encoder.sh
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/observerEffects.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/video/types.ts
  src/assets/javascripts/features/hero/video/video.ts
  src/assets/javascripts/state/types.ts
Due: build

minor zshrc update
  .devcontainer/.zshrc
Due: none
