Repository seekinginfiniteloop/PlainLicenses: changes, and which pre-commit hooks are due for each by the changed paths.
All: build, stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
        types: [yaml]
      - id: check-added-large-files
        stages: [pre-commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.14.0
    hooks:
      - id: markdownlint-cli2
        args: [--config, .markdownlint.yml, --fix, "*.md","docs/*.md", "docs/**/*.md", "packages/changelogs/*.md"]
        stages: [pre-commit]
        types: [markdown]
  - repo: https://github.com/crate-ci/typos
    rev: v1.27.0
    hooks:
      - id: typos
        stages: [pre-commit]
        exclude: |
          (?x)^(
            .eslintcache |
            eslint.config.mjs |
            .gitignore |
            .pre-commit-config.yaml |
            .markdownlint.yml |
            node_modules/|
            packages/.*?/node_modules|
            external/|
            eslint.config.mjs)
        types_or: [text]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix"]
        stages: [pre-commit]
        types: [python]
      - id: ruff-format
        stages: [pre-commit]
        types: [python]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        args: [--config, commitlint.config.ts]
  - repo: local
    hooks:
      - id: shellcheck
        language: system
        name: Shellcheck
        stages: [pre-commit]
        entry: shellcheck -x -S error
        types: [shell]
      - id: build
        name: Build
        language: system
        entry: bun run -b build
        files: src/.*?.ts
        types: [ts]
        stages: [pre-commit]

      - id: stylelint
        name: Stylelint
        language: system
        entry: bun run -b stylelint --fix
        files: src/assets/stylesheets/.*?.css
        types: [css]
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        language: system
        entry: bun run -b eslint --fix
        types: [ts, javascript]
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            .vscode/|
            external/|
            docs/)
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        language: system
        entry: bun run -b prettier --write
        types: [json, yaml, toml]
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            external/)
        stages: [pre-commit]

      - id: commitizen
        name: Commitizen
        language: system
        entry: bun run -b git-cz
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            external/)
        stages: [prepare-commit-msg]
        types: [file]
        always_run: true

more pre-commit debugging
  .pre-commit-config.yaml
  bin/hooks/_commit-msg
  bin/hooks/_pre-commit
  bin/hooks/_prepare-commit-msg
  bin/install-hooks.sh
  bin/set_venv
  bin/setup-repo.sh
Due: none

small container and pre-commit fixes
  .devcontainer/.bashrc
  .devcontainer/.zshrc
  .pre-commit-config.yaml
  bin/hooks/_pre-commit
Due: none

some container setup fixes and got disclaimer block rendering correctly
  .devcontainer/.zshrc
  .devcontainer/container-setup.sh
  .shellcheckrc
  LICENSE_TEMPLATE.md
  README.md
  docs/licenses/permissive/mit/index.md
  overrides/hooks/license_factory.py
Due: none

small commit before checkout
  bun.lockb
  package.json
  src/build/index.ts
Due: build

build changes... trying to run down what might be a compiling bug
  .eslintcache
  bun.lockb
  docs/assets/javascripts/index.AAMACZYP.js
  docs/assets/javascripts/index.AAMACZYP.js.map
  docs/meta.json
  node_modules/@typescript-eslint/utils/package.json
  overrides/buildmeta.json
  package.json
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/build/config/index.ts
  src/build/index.ts
  tsconfig.build.json
Due: build

refining build
  overrides/hooks/license_factory.py
  src/build/config/index.ts
  src/build/index.ts
Due: build

went back to the original approach on heroImages
  src/build/config/index.ts
  src/build/types.d.ts
Due: build

more work on image handling in build
  .devcontainer/.fonts/FiraCode-VF.ttf
  .vscode/settings.json
  eslint.config.mjs
  src/build/config/index.ts
  src/build/index.ts
Due: build

linting changes
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/utils/index.ts
  src/build/config/index.ts
  src/build/index.ts
Due: build

linting changes
  src/build/index.ts
Due: build

back to building correctly
  src/build/index.ts
Due: build

it builds, time to check the finer points
  .eslintcache
  docs/assets/javascripts/index.3QUY3LCM.js.map
  docs/assets/javascripts/index.AAMACZYP.js
  docs/assets/javascripts/index.AAMACZYP.js.map
  docs/assets/javascripts/index.S42DJ2FK.js
  docs/assets/javascripts/index.S42DJ2FK.js.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/hero/imageshuffle/data/index.ts
Due: build

working out license css bugs
  .eslintcache
  docs/assets/javascripts/index.7P62UP3N.css
  docs/assets/javascripts/index.7P62UP3N.css.map
  docs/assets/javascripts/index.PW6ZUTOO.js
  docs/assets/javascripts/index.PW6ZUTOO.js.map
  docs/assets/javascripts/index.S42DJ2FK.js
  docs/assets/javascripts/index.S42DJ2FK.js.map
  docs/assets/javascripts/index.U3ZVAFAB.css
  docs/assets/stylesheets/bundle.DP2TNTOH.css
  docs/assets/stylesheets/bundle.DP2TNTOH.css.map
  docs/assets/stylesheets/bundle.KRB6OKTJ.css
  docs/assets/stylesheets/bundle.KRB6OKTJ.css.map
  docs/licenses/copyleft/index.md
  docs/licenses/copyleft/mpl-2.0/index.md
  docs/licenses/permissive/index.md
  docs/licenses/public-domain/index.md
  docs/licenses/source-available/index.md
  docs/meta.json
  overrides/buildmeta.json
  overrides/hooks/license_factory.py
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/stylesheets/colors.css
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
  src/assets/stylesheets/license.css
  src/build/config/index.ts
  tsconfig.build.json
Due: build, stylelint

refactored to resolve some persistent JS issues; worked on license css
  .eslintcache
  docs/assets/javascripts/index.PW6ZUTOO.js
  docs/assets/javascripts/index.PW6ZUTOO.js.map
  docs/assets/javascripts/index.PXRH67CD.js
  docs/assets/javascripts/index.PXRH67CD.js.map
  docs/assets/stylesheets/bundle.KRB6OKTJ.css.map
  docs/assets/stylesheets/bundle.XOJ7URMP.css
  docs/assets/stylesheets/bundle.XOJ7URMP.css.map
  docs/meta.json
  eslint.config.mjs
  overrides/buildmeta.json
  overrides/license.html
  src/assets/javascripts/feedback/index.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/javascripts/tablesort.d.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/license.css
Due: build, stylelint

style fixes and updates to licenses
  .eslintcache
  docs/assets/javascripts/index.PMZ6KNNC.js
  docs/assets/javascripts/index.PMZ6KNNC.js.map
  docs/assets/javascripts/index.PXRH67CD.js.map
  docs/assets/stylesheets/bundle.7F3MGL7G.css
  docs/assets/stylesheets/bundle.7F3MGL7G.css.map
  docs/assets/stylesheets/bundle.XOJ7URMP.css.map
  docs/meta.json
  mkdocs.yml
  overrides/buildmeta.json
  overrides/hooks/license_factory.py
  overrides/license.html
  overrides/partials/license_tablabels.html
  overrides/partials/license_tags.html
  overrides/partials/license_toc.html
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/stylesheets/license.css
Due: build, stylelint

Update index.ts bug fixes for animation triggers
  src/assets/javascripts/hero/animation/index.ts
Due: build

Refactor hero shuffle index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
Due: build

more refactoring on hero
  .eslintcache
  docs/assets/javascripts/index.63MQSL2I.js
  docs/assets/javascripts/index.63MQSL2I.js.map
  docs/assets/javascripts/index.JF72V3BX.js.map
  docs/assets/stylesheets/bundle.WWVFOGRU.css.map
  docs/assets/stylesheets/bundle.YM3SVTUE.css
  docs/assets/stylesheets/bundle.YM3SVTUE.css.map
  docs/licenses/index.md
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/home.css
Due: build, stylelint

minor fix
  src/assets/javascripts/hero/imageshuffle/index.ts
Due: build

Update index.ts
  src/assets/javascripts/cache/index.ts
Due: build

Update globals.d.ts
  src/assets/javascripts/globals.d.ts
Due: build

continued refactoring; refined caching, imageshuffle and animations
  .eslintcache
  _typos.toml
  docs/assets/javascripts/index.63MQSL2I.js.map
  docs/assets/javascripts/index.TBW7YSEW.js
  docs/assets/javascripts/index.TBW7YSEW.js.map
  docs/assets/stylesheets/bundle.BWTUIAMY.css
  docs/assets/stylesheets/bundle.BWTUIAMY.css.map
  docs/assets/stylesheets/bundle.YM3SVTUE.css.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/cache/index.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/stylesheets/bodyfont.css
  src/assets/stylesheets/home.css
Due: build, stylelint

Update index.ts
  src/assets/javascripts/hero/animation/index.ts
Due: build

Update release-build-deploy.yml
  .github/workflows/release-build-deploy.yml
Due: none

Update ci.yml
  .github/ci.yml
Due: none

Update release.yml
  .github/release.yml
Due: none

Update build.yml
  .github/build.yml
Due: none

Update deploy.yml
  .github/deploy.yml
Due: none

...
  .eslintcache
Due: none

animations looking good, going to refactor a bit but wanted to save this state
  .eslintcache
  .github/build.yml
  .github/ci.yml
  .github/deploy.yml
  .github/release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release-build-deploy.yml
  .github/workflows/release.yml
  bun.lockb
  docs/assets/javascripts/index.M4RH6NJH.js
  docs/assets/javascripts/index.M4RH6NJH.js.map
  docs/assets/javascripts/index.TBW7YSEW.js.map
  docs/assets/stylesheets/bundle.BWTUIAMY.css.map
  docs/assets/stylesheets/bundle.XPPR7DPR.css
  docs/assets/stylesheets/bundle.XPPR7DPR.css.map
  docs/meta.json
  overrides/buildmeta.json
  package.json
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
  src/assets/stylesheets/license.css
  src/assets/stylesheets/tags.css
Due: build, stylelint

Update build.yml
  .github/workflows/build.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update fundingupdate.yml
  .github/workflows/fundingupdate.yml
Due: none

Update pull-requests.yml
  .github/workflows/pull-requests.yml
Due: none
