Repository seekinginfiniteloop/PlainLicenses: changes, and which pre-commit hooks are due for each by the changed paths.
All: build, stylelint, eslint, prettier

build:
  name: Build
  language: system
  entry: bun run -b build
  stages:
  - pre-commit

stylelint:
  name: Stylelint
  language: system
  entry: bun run -b stylelint --fix
  stages:
  - pre-commit

eslint:
  name: ESLint
  language: system
  entry: bun run -b eslint --fix
  stages:
  - pre-commit

prettier:
  name: Prettier
  language: system
  entry: bun run -b prettier --write
  stages:
  - pre-commit

Update release.yml
  .github/workflows/release.yml
Due: none

Update .gitmodules
  .gitmodules
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update fundingupdate.yml
  .github/workflows/fundingupdate.yml
Due: none

Update pull-requests.yml
  .github/workflows/pull-requests.yml
Due: none

updates to animations
  .eslintcache
  docs/assets/javascripts/index.IZ6IJEDC.js
  docs/assets/javascripts/index.IZ6IJEDC.js.map
  docs/assets/javascripts/index.M4RH6NJH.js.map
  docs/assets/stylesheets/bundle.N5LMYFM5.css
  docs/assets/stylesheets/bundle.N5LMYFM5.css.map
  docs/assets/stylesheets/bundle.XPPR7DPR.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/partials/herolanding.html
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/index.ts
  src/assets/stylesheets/home.css
Due: build, stylelint

more animation fixes
  .eslintcache
  docs/assets/javascripts/index.GIDUNGYS.js
  docs/assets/javascripts/index.GIDUNGYS.js.map
  docs/assets/javascripts/index.IZ6IJEDC.js.map
  docs/assets/stylesheets/bundle.N5LMYFM5.css.map
  docs/assets/stylesheets/bundle.UZJRJIJA.css
  docs/assets/stylesheets/bundle.UZJRJIJA.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/partials/herolanding.html
  src/assets/javascripts/hero/animation/index.ts
  src/assets/stylesheets/home.css
Due: build, stylelint

ci/cd updates
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/fundingupdate.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Due: none

more animation fixes
  .eslintcache
  docs/assets/javascripts/index.A43OQV5A.js
  docs/assets/javascripts/index.A43OQV5A.js.map
  docs/assets/javascripts/index.GIDUNGYS.js.map
  docs/assets/stylesheets/bundle.AFVVY3GO.css
  docs/assets/stylesheets/bundle.AFVVY3GO.css.map
  docs/assets/stylesheets/bundle.UZJRJIJA.css.map
  docs/index.md
  docs/meta.json
  overrides/buildmeta.json
  overrides/partials/herolanding.html
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/index.ts
  src/assets/stylesheets/home.css
Due: build, stylelint

more animation fixes
  .eslintcache
  docs/assets/javascripts/index.A43OQV5A.js.map
  docs/assets/javascripts/index.MJHA7BWX.js
  docs/assets/javascripts/index.MJHA7BWX.js.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/index.ts
  src/assets/javascripts/index.ts
Due: build

ANIMATION STABLE
  .eslintcache
  docs/assets/javascripts/index.MJHA7BWX.js.map
  docs/assets/javascripts/index.PHWZ5Y3R.js
  docs/assets/javascripts/index.PHWZ5Y3R.js.map
  docs/assets/stylesheets/bundle.AAEDZNAJ.css
  docs/assets/stylesheets/bundle.AAEDZNAJ.css.map
  docs/assets/stylesheets/bundle.AFVVY3GO.css.map
  docs/index.md
  docs/meta.json
  overrides/buildmeta.json
  overrides/license.html
  overrides/partials/heroheader.html
  overrides/partials/herolanding.html
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/index.ts
  src/assets/javascripts/index.ts
  src/assets/stylesheets/home.css
  src/assets/stylesheets/license.css
Due: build, stylelint

Update package.json
  package.json
Due: none

corrected some formatting with blog posts
  .eslintcache
  docs/assets/javascripts/index.LSL54Q72.js
  docs/assets/javascripts/index.LSL54Q72.js.map
  docs/assets/javascripts/index.PHWZ5Y3R.js.map
  docs/assets/stylesheets/bundle.AAEDZNAJ.css.map
  docs/assets/stylesheets/bundle.PARVQEXL.css
  docs/assets/stylesheets/bundle.PARVQEXL.css.map
  docs/blog/posts/welcome-to-plain-license.md
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/index.ts
  src/assets/stylesheets/extra.css
Due: build, stylelint

added image panning and corrected image positioning on hero
  .eslintcache
  docs/assets/javascripts/index.LSL54Q72.js.map
  docs/assets/javascripts/index.RRID5SIM.js
  docs/assets/javascripts/index.RRID5SIM.js.map
  docs/assets/stylesheets/bundle.EPXYE23W.css
  docs/assets/stylesheets/bundle.EPXYE23W.css.map
  docs/assets/stylesheets/bundle.PARVQEXL.css.map
  docs/blog/posts/welcome-to-plain-license.md
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Due: build, stylelint

Update index.ts
  src/assets/javascripts/index.ts
Due: build

Update index.ts
  src/assets/javascripts/utils/index.ts
Due: build

nearly finished implementing subscriptionManager
  .eslintcache
  bun.lockb
  docs/assets/javascripts/index.QHAVYOIH.js
  docs/assets/javascripts/index.QHAVYOIH.js.map
  docs/assets/javascripts/index.RRID5SIM.js.map
  docs/assets/stylesheets/bundle.EPXYE23W.css.map
  docs/assets/stylesheets/bundle.ONGN6BJ2.css
  docs/assets/stylesheets/bundle.ONGN6BJ2.css.map
  docs/meta.json
  node_modules/lines-and-columns/package.json
  overrides/buildmeta.json
  package.json
  src/assets/javascripts/cache/index.ts
  src/assets/javascripts/feedback/index.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
Due: build, stylelint

Path conditions:
  build: any of: src/.*?.ts and \.(ts|mts|cts)$
  stylelint: any of: src/assets/stylesheets/.*?.css and \.css$
  eslint: any of: \.(ts|mts|cts)$ and \.(js|mjs|cjs)$ and not ((?x)^(
  node_modules/|
  packages/.*?/node_modules|
  .vscode/|
  external/|
  docs/)
)
  prettier: any of: \.json$ and \.(yaml|yml)$ and \.toml$ and not ((?x)^(
  node_modules/|
  packages/.*?/node_modules|
  external/)
)
