Repository seekinginfiniteloop/PlainLicenses: changes, and which pre-commit hooks are due for each by the changed paths.
All: build, stylelint, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
        types: [yaml]
      - id: check-added-large-files
        stages: [pre-commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.14.0
    hooks:
      - id: markdownlint-cli2
        args: [--config, .markdownlint.yml, --fix, "*.md","docs/*.md", "docs/**/*.md", "packages/changelogs/*.md"]
        stages: [pre-commit]
        types: [markdown]
  - repo: https://github.com/crate-ci/typos
    rev: v1.27.0
    hooks:
      - id: typos
        stages: [pre-commit]
        exclude: |
          (?x)^(
            .eslintcache |
            eslint.config.mjs |
            .gitignore |
            .pre-commit-config.yaml |
            .markdownlint.yml |
            node_modules/|
            packages/.*?/node_modules|
            external/|
            eslint.config.mjs)
        types_or: [text]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix"]
        stages: [pre-commit]
        types: [python]
      - id: ruff-format
        stages: [pre-commit]
        types: [python]
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        args: [--config, commitlint.config.ts]
  - repo: local
    hooks:
      - id: shellcheck
        language: system
        name: Shellcheck
        stages: [pre-commit]
        entry: shellcheck -x -S error
        types: [shell]
      - id: build
        name: Build
        language: system
        entry: bun run -b build
        files: src/.*?.ts
        types: [ts]
        stages: [pre-commit]

      - id: stylelint
        name: Stylelint
        language: system
        entry: bun run -b stylelint --fix
        files: src/assets/stylesheets/.*?.css
        types: [css]
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        language: system
        entry: bun run -b eslint --fix
        types: [ts, javascript]
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            .vscode/|
            external/|
            docs/)
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        language: system
        entry: bun run -b prettier --write
        types: [json, yaml, toml]
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            external/)
        stages: [pre-commit]

      - id: commitizen
        name: Commitizen
        language: system
        entry: bun run -b git-cz
        exclude: |
          (?x)^(
            node_modules/|
            packages/.*?/node_modules|
            external/)
        stages: [prepare-commit-msg]
        types: [file]
        always_run: true

bun update
  bun.lockb
Due: none

fixing some actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/combine-prs.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

update to action to correct error (..maybe)
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

bot(ci): update changelogs [ci]
  bun.lockb
Due: none

more ci/cd action tweaks to fix errors
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  bun.lockb
  package.json
  pyproject.toml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

build updates for video
  bun.lockb
  package.json
  src/build/config/index.ts
  src/build/types.ts
Due: build

fixed missing package
  bun.lockb
  package.json
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

fixes to install-hooks script to correct issue with ci pipeline
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  bin/install-hooks.sh
  bin/setup-repo.sh
Due: none

finishing up refactor for video
  overrides/partials/herolanding.html
  pyproject.toml
  ruff.toml
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/features/hero/animations/effects.ts
  src/assets/javascripts/features/hero/animations/index.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/imageCarousel/cycler.ts
  src/assets/javascripts/features/hero/imageCarousel/heroImages.ts
  src/assets/javascripts/features/hero/imageCarousel/index.ts
  src/assets/javascripts/features/hero/imageCarousel/loader.ts
  src/assets/javascripts/features/hero/imageCarousel/types.ts
  src/assets/javascripts/features/hero/index.ts
  src/assets/javascripts/features/hero/video/index.ts
  src/assets/javascripts/features/hero/video/types.ts
  src/assets/javascripts/features/hero/video/utils.ts
  src/assets/javascripts/features/hero/video/video.ts
  src/assets/javascripts/features/hero/video/videoElement.ts
  src/assets/javascripts/features/hero/video/videoManager.ts
  src/assets/javascripts/features/index.ts
  src/assets/javascripts/state/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/home.css
  uv.lock
Due: build, stylelint

refactor almost done, just need to integrate animations on hero landing
  overrides/hooks/license_factory.py
  overrides/partials/license_disclaimer_block.html
  overrides/partials/license_toc.html
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/features/licenses/types.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/conditionChecks.ts
  src/assets/javascripts/utils/eventHandlers.ts
Due: build

more finishing touches on the refactor
  docs/assets/stylesheets/bundle.P72S7LTR.css
  docs/assets/stylesheets/bundle.P72S7LTR.css.map
  overrides/partials/herolanding.html
  src/assets/javascripts/@types/tablesort/tablesort.d.ts
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/effects.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/video/types.ts
  src/assets/javascripts/features/hero/video/videoManager.ts
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/gsap.d.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/log.ts
  src/assets/stylesheets/home.css
  src/assets/stylesheets/license.css
  tsconfig.json
Due: build, stylelint

update workflows; separated notify into own action
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/notify.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/features/hero/animations/effects.ts
Due: build

permissions fix in workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Due: none

more workflow fixes
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Due: none

more work on simplifying build
  src/assets/stylesheets/_bodyfont_template.css
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.ts
  src/build/utils/index.ts
Due: build, stylelint

Update build.yml
  .github/workflows/build.yml
Due: none

finished hash handling refactor in build
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.ts
  src/build/utils/index.ts
Due: build

Update eslint.config.mjs
  eslint.config.mjs
Due: none

eslint adds
  .vscode/settings.json
  bun.lockb
  eslint.config.mjs
  package.json
  src/assets/javascripts/index.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/utils/index.ts
Due: build

linting
  commitlint.config.ts
  eslint.config.mjs
  src/assets/javascripts/@types/tablesort/tablesort.d.ts
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/config/index.ts
  src/assets/javascripts/features/feedback/feedback.ts
  src/assets/javascripts/features/feedback/index.ts
  src/assets/javascripts/features/hero/animations/effects.ts
  src/assets/javascripts/features/hero/animations/index.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/types.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/index.ts
  src/assets/javascripts/features/hero/video/index.ts
  src/assets/javascripts/features/hero/video/types.ts
  src/assets/javascripts/features/hero/video/utils.ts
  src/assets/javascripts/features/hero/video/videoElement.ts
  src/assets/javascripts/features/hero/video/videoManager.ts
  src/assets/javascripts/features/index.ts
  src/assets/javascripts/features/licenses/index.ts
  src/assets/javascripts/features/licenses/tabManager.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/gsap.d.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/state/index.ts
  src/assets/javascripts/state/predicates.ts
  src/assets/javascripts/state/store.ts
  src/assets/javascripts/state/types.ts
  src/assets/javascripts/types.ts
  src/assets/javascripts/utils/conditionChecks.ts
  src/assets/javascripts/utils/eventHandlers.ts
  src/assets/javascripts/utils/helpers.ts
  src/assets/javascripts/utils/index.ts
  src/assets/javascripts/utils/log.ts
  src/assets/javascripts/workers/cache_worker.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.ts
  src/build/utils/index.ts
Due: build

finishing up build refactor
  .vscode/launch.json
  src/assets/stylesheets/bundle.css
  src/assets/videos/hero/tokyo_shuffle/posters/tokyo_shuffle_1080.avif
  src/assets/videos/hero/tokyo_shuffle/posters/tokyo_shuffle_1080.png
  src/assets/videos/hero/tokyo_shuffle/posters/tokyo_shuffle_1080.webp
  src/build/config/index.ts
  src/build/types.ts
  src/build/utils/index.ts
Due: build, stylelint

minor build fixes
  docs/assets/javascripts/index.MURGNYX7.js.map
  docs/assets/javascripts/index.Q3KGILMV.js
  docs/assets/javascripts/index.Q3KGILMV.js.map
  docs/assets/javascripts/workers/cache_worker.WXWOKPQ2.js
  docs/assets/javascripts/workers/cache_worker.WXWOKPQ2.js.map
  docs/assets/javascripts/workers/meta.json
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/features/hero/video/data.ts
  src/assets/javascripts/features/hero/video/videoElement.ts
  src/build/config/index.ts
  src/build/index.ts
Due: build

polishing up build process
  .sourcery.yaml
  .vscode/settings.json
  docs/assets/javascripts/index.4YPKFWJJ.js
  docs/assets/javascripts/index.4YPKFWJJ.js.map
  docs/assets/javascripts/index.Q3KGILMV.js
  docs/assets/javascripts/index.Q3KGILMV.js.map
  docs/assets/javascripts/workers/cache_worker.QVT6E73E.js
  docs/assets/javascripts/workers/cache_worker.QVT6E73E.js.map
  docs/assets/javascripts/workers/meta.json
  docs/cache_meta.3OJKREVG.json
  docs/cache_meta.B2F62NAH.json
  docs/cache_meta.MLCPS6VI.json
  docs/cache_worker.OXCBKYTX.js
  docs/cache_worker.OXCBKYTX.js.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/config/config.ts
  src/assets/javascripts/config/types.ts
  src/assets/javascripts/features/hero/animations/effects.ts
  src/assets/javascripts/features/hero/animations/observer.ts
  src/assets/javascripts/features/hero/animations/utils.ts
  src/assets/javascripts/features/hero/video/data.ts
  src/assets/javascripts/fetchWorker.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/conditionChecks.ts
  src/assets/javascripts/utils/helpers.ts
  src/assets/javascripts/utils/log.ts
  src/assets/javascripts/utils/types.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/types.ts
  src/cache_meta.json
  src/cache_worker.ts
  tsconfig.json
Due: build
